In [5]:
from pyspark.sql import SparkSession, Window, Row, Column, functions as fn
import psutil
from typing import List, Dict, Union, Tuple
import pyspark

# Part 1: Loading the dataset

Simply load the dataset from the parquet format given in the google drive above
- Load the dataset.
- Preview first 20 rows.
- How many partitions is this dataframe split into?
- Change partitions to be equal to the number of your logical cores

In [6]:
# Initialize Spark session
spark = SparkSession.builder.appName("M3").getOrCreate()
#.config("spark.jars", "/opt/spark/jars/postgresql-42.7.3.jar").master("local")
# spark.conf.set("spark.sql.execution.arrow.enabled", 'true')
# spark.config("spark.memory.offHeap.enabled","true") 
# spark.config("spark.memory.offHeap.size","10g")
# spark.conf.set("spark.executor.memory", "2g")
# spark context to interact with the driver
sc = spark.sparkContext

In [7]:
import os
os.getcwd()

'/home/jovyan'

In [8]:
dataset_path = './work/fintech_data_29_52_1008.parquet'
fintech_df = spark.read.parquet(dataset_path)

In [9]:
fintech_df.show(20)

+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|         Customer Id|           Emp Title|Emp Length|Home Ownership|Annual Inc|Annual Inc Joint|Verification Status|Zip Code|Addr State|Avg Cur Bal|Tot Cur Bal|Loan Id|Loan Status|Loan Amount|State|Funded Amount|      Term|Int Rate|Grade|       Issue Date|Pymnt Plan|      Type|           Purpose|         Description|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|YidceDkzalx4YmRce...|     president/owner| 10+ years|      MORTGAGE|   80000.0|            NULL|    Source Verified|   333xx|        FL|     8275.0|   239986.0|  39474|    Current|     6000.0|   FL|       6000.0| 36 months|  0.0649|    4|   14 August 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|Yic0SVx4ZjRceGZlX...|PETTY OFFICER FIR...| 10+ years|      MORTGAGE|   75384.0|            NULL|    Source Verified|   237xx|        VA|    25385.0|   279232.0| 158200|    Current|    15000.0|   VA|      15000.0| 60 months|  0.1806|   20|     17 July 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGUyXHgxZVx4M...|               nyco |   4 years|           OWN|   33800.0|            NULL|           Verified|   111xx|        NY|      282.0|     1691.0| 113752| Fully Paid|    11500.0|   NY|      11500.0| 36 months|  0.1114|    7| 12 December 2012|     false|INDIVIDUAL|             other|         Family Help|
|YidcXD1ceDg2XHhhZ...|Nippon Express US...| 10+ years|           OWN|   50000.0|            NULL|           Verified|   070xx|        NJ|    14458.0|   130124.0| 181412| Fully Paid|    18000.0|   NJ|      18000.0| 60 months|  0.2149|   23| 12 November 2012|     false|INDIVIDUAL|       credit_card|  Credit Card Payoff|
|YidceDgyXHgwNiZce...|  Operations Manager|   2 years|      MORTGAGE|   75000.0|        160000.0|       Not Verified|   750xx|        TX|    27703.0|   443252.0| 227090|    Current|    25000.0|   TX|      25000.0| 60 months|  0.1171|   10|19 September 2019|     false| Joint App|  home_improvement|    Home improvement|
|YidceGU4XHhmYVdIX...|    flight attendant| 10+ years|      MORTGAGE|  110000.0|            NULL|           Verified|   762xx|        TX|     4799.0|   196782.0| 220157| Fully Paid|    24000.0|   TX|      24000.0| 60 months|  0.1899|   19|  17 January 2017|     false|Individual|  home_improvement|    Home improvement|
|YicmXHg4Mlx4ODY/X...|       SALES MANAGER| 10+ years|          RENT|  100000.0|            NULL|    Source Verified|   452xx|        OH|     3627.0|    29019.0| 149100| Fully Paid|    15000.0|   OH|      15000.0| 36 months|  0.0967|    8| 13 November 2013|     false|INDIVIDUAL|debt_consolidation|  A BIRD IN THE HAND|
|YiJceDgwXHg5ZSdGN...|maintenance mechanic|   4 years|           OWN|   70000.0|            NULL|           Verified|   125xx|        NY|     2599.0|    18193.0| 152910|    Current|    15000.0|   NY|      15000.0| 36 months|  0.1499|   14| 16 December 2016|     false|INDIVIDUAL|       credit_card|Credit card refin...|
|YidceDBjXHhkZlx4Z...|       Administrator| 10+ years|      MORTGAGE|  117400.0|            NULL|    Source Verified|   082xx|        NJ|     9975.0|   259343.0| 214955| Fully Paid|    24000.0|   NJ|      24000.0| 36 months|  0.0692|    5|    15 March 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YidqXHhiMlx4ZDZaX...|   Senior Consultant|   2 years|          RENT|   85000.0|            NULL|       Not Verified|   105xx|        NY|     4182.0|    66907.0|   7032| Fully Paid|     2500.0|   NY|       2500.0| 36 months|  0.0799|    4|    17 March 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGE2XHg5NVx4Z...|             Manager|   6 years|          RENT|  110000.0|            NULL|       Not Verified|   342xx|        FL|     6631.0|    72939.0| 184546|    Current|    19175.0|   FL|      19175.0| 36 months|   0.288|   19|    19 April 2019|     false|Individual|debt_consolidation|  Debt consolidation|
|Yic9K1x4MDhceGU2X...|Senior Structural...|    1 year|      MORTGAGE|   70000.0|            NULL|       Not Verified|   786xx|        TX|    24167.0|   265836.0| 167217|    Current|    16000.0|   TX|      16000.0| 60 months|  0.1288|   14| 15 December 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDk5XHhlMFx4M...|      Police Officer| 10+ years|          RENT|   70000.0|            NULL|       Not Verified|   337xx|        FL|     4993.0|    44934.0|   4621| Fully Paid|     2000.0|   FL|       2000.0| 36 months|  0.1299|   11|  15 January 2015|     false|Individual|    major_purchase|      Major purchase|
|YidceDA1XHg4MGomX...|     Project Manager| 10+ years|          RENT|   55000.0|            NULL|    Source Verified|   372xx|        TN|     8173.0|    81725.0|  19826|    Current|     4000.0|   TN|       4000.0| 36 months|  0.1747|   18|     18 June 2018|     false|Individual|debt_consolidation|  Debt consolidation|
|YidDXHg4Mlx4YWZce...|    Sales associate |   2 years|      MORTGAGE|   23000.0|            NULL|    Source Verified|   357xx|        AL|     7833.0|    23500.0|  28527|    Current|     5000.0|   AL|       5000.0| 36 months|  0.1042|    6|     17 July 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidibFx4OTRceGI4X...|            Director|   5 years|      MORTGAGE|  120000.0|            NULL|       Not Verified|   925xx|        CA|    30724.0|   368683.0|  51952| Fully Paid|     7000.0|   CA|       7000.0| 36 months|  0.0624|    1| 15 November 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YiJXUjpceDg2XHg5O...|             Manager| 10+ years|      MORTGAGE|   82000.0|            NULL|       Not Verified|   357xx|        AL|    28152.0|   281524.0|  50695|    Current|     6600.0|   AL|       6600.0| 36 months|  0.1335|   12| 14 November 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGZmMj58XHhkY...|Network Administr...|   4 years|      MORTGAGE|   79000.0|            NULL|    Source Verified|   989xx|        WA|    12693.0|   165015.0| 256148| Fully Paid|    35000.0|   WA|      35000.0| 36 months|  0.1367|   12| 16 February 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceDg0QVx4YThce...|       Staff Account|    1 year|      MORTGAGE|   35000.0|            NULL|       Not Verified|   331xx|        FL|     9902.0|   108921.0|  41140|    Current|     6000.0|   FL|       6000.0| 36 months|  0.0867|   10| 14 November 2014|     false|INDIVIDUAL|  home_improvement|    Home improvement|
|Yic4Q1hceGI2XHg4Y...|           Inspector|   7 years|          RENT|   70000.0|            NULL|       Not Verified|   770xx|        TX|     3255.0|    32550.0| 152067| Fully Paid|    15000.0|   TX|      15000.0| 36 months|  0.1333|   15| 15 February 2015|     false|Individual|debt_consolidation|  Debt consolidation|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
only showing top 20 rows

In [10]:
print(fintech_df.rdd.getNumPartitions())

1

In [11]:
logical_cores = psutil.cpu_count(logical=True)  # Logical cores
physical_cores = psutil.cpu_count(logical=False)  # Physical cores

print(f"Logical cores: {logical_cores}")
print(f"Physical cores: {physical_cores}")

Logical cores: 24
Physical cores: 12

In [12]:
repartitioned_fintech_df = fintech_df.repartition(logical_cores)

In [13]:
repartitioned_fintech_df.rdd.getNumPartitions()

24

# Part 2: Cleaning

- Rename all columns (replacing a space with an underscore, and making it lowercase)
- Detect missing    
  -  Create a function that takes in the df and returns any data structrue of your choice(df/dict,list,tuple,etc) which has the name of the column and percentage of missing entries from the whole dataset.
  - Tip : storing the missing info as dict where the key is the column name and value is the percentage would be the easiest.
  - Prinout the missing info
- Handle missing
  - For numerical features replace with 0.
  - For categorical/strings replace with mode
- Check missing
  - Afterwards, check that there are no missing values

In [14]:
repartitioned_fintech_df.columns

['Customer Id',
 'Emp Title',
 'Emp Length',
 'Home Ownership',
 'Annual Inc',
 'Annual Inc Joint',
 'Verification Status',
 'Zip Code',
 'Addr State',
 'Avg Cur Bal',
 'Tot Cur Bal',
 'Loan Id',
 'Loan Status',
 'Loan Amount',
 'State',
 'Funded Amount',
 'Term',
 'Int Rate',
 'Grade',
 'Issue Date',
 'Pymnt Plan',
 'Type',
 'Purpose',
 'Description']

In [15]:
renamed_fintech_df = repartitioned_fintech_df.toDF(*[col.replace(" ", "_").lower() for col in repartitioned_fintech_df.columns])

In [16]:
renamed_fintech_df.columns

['customer_id',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'annual_inc_joint',
 'verification_status',
 'zip_code',
 'addr_state',
 'avg_cur_bal',
 'tot_cur_bal',
 'loan_id',
 'loan_status',
 'loan_amount',
 'state',
 'funded_amount',
 'term',
 'int_rate',
 'grade',
 'issue_date',
 'pymnt_plan',
 'type',
 'purpose',
 'description']

In [17]:
renamed_fintech_df.show(20)

+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+---------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|         customer_id|           emp_title|emp_length|home_ownership|annual_inc|annual_inc_joint|verification_status|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|    loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|      type|           purpose|         description|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+---------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|YicgXHgxOVx4ODU+X...| bartender/ waitress|   3 years|          RENT|   35000.0|            NULL|    Source Verified|   191xx|        PA|     2368.0|    16578.0| 139672|     Fully Paid|    14000.0|   PA|      14000.0| 36 months|  0.1999|   19|    17 March 2017|     false|Individual|    major_purchase|      Major purchase|
|YidJXHhiOFx4OWRce...|      Line- Operator|  < 1 year|           OWN|   65000.0|            NULL|    Source Verified|   458xx|        OH|     1263.0|     3789.0| 207602|In Grace Period|    21275.0|   OH|      21275.0| 60 months|   0.124|    6|     19 July 2019|     false|Individual|    major_purchase|      Major purchase|
|YidceGQwXHhmNl1ce...|                NULL|  < 1 year|      MORTGAGE|  100000.0|            NULL|           Verified|   152xx|        PA|    26234.0|   341037.0| 230358|     Fully Paid|    25350.0|   PA|      25350.0| 36 months|  0.1727|   19|    16 April 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|Yid6XHhkMlx4YmR8e...|   Corporate Trainer|   5 years|      MORTGAGE|   41000.0|            NULL|    Source Verified|   322xx|        FL|     3152.0|    18912.0|  98856|        Current|    10000.0|   FL|      10000.0| 36 months|     0.2|   16| 18 February 2018|     false|Individual|  home_improvement|    Home improvement|
|Yid8XHhkZlpvdFJce...|Certified Applicator|   7 years|          RENT|   30000.0|            NULL|           Verified|   788xx|        TX|     2451.0|    19607.0|  33846|     Fully Paid|     5000.0|   TX|       5000.0| 36 months|  0.1899|   17| 17 February 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDk5XHhmY1x4M...|Associate Researcher|   4 years|           OWN|   67000.0|            NULL|       Not Verified|   598xx|        MT|     6283.0|    31415.0|  21295|     Fully Paid|     4250.0|   MT|       4250.0| 36 months|  0.1561|   20|    15 April 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDBiQlx4OWVce...|               sales| 10+ years|          RENT|   60000.0|            NULL|    Source Verified|   330xx|        FL|     1487.0|    19336.0| 167841|    Charged Off|    16000.0|   FL|      16000.0| 60 months|  0.1431|   14|  15 January 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|Yid1Nlx4OTRceGQ1X...|Utility Plant  En...| 10+ years|      MORTGAGE|   82000.0|            NULL|       Not Verified|   088xx|        NJ|    30457.0|   335023.0| 235327|     Fully Paid|    28000.0|   NJ|      28000.0| 36 months|  0.0789|    2|   15 August 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|Yic5XHgxM1x4ZGRce...|      Office Manager|  < 1 year|      MORTGAGE|  125000.0|            NULL|    Source Verified|   346xx|        FL|     8382.0|   125734.0| 193947|        Current|    20000.0|   FL|      20000.0| 36 months|  0.1349|   15|16 September 2016|     false|INDIVIDUAL|  home_improvement|    Home improvement|
|YidceGNiPFZ3XHhkN...|       Sales Manager|   2 years|          RENT|   40000.0|            NULL|       Not Verified|   606xx|        IL|     2656.0|    10624.0|  95200|     Fully Paid|    10000.0|   IL|      10000.0| 36 months|  0.1398|   12| 13 December 2013|     false|INDIVIDUAL|debt_consolidation|Good Bet Debt Con...|
|YidceGZkOFx4ZTZce...|Logistics coordin...|   3 years|          RENT|   47800.0|            NULL|           Verified|   902xx|        CA|     2855.0|    14276.0|  40657|        Current|     6000.0|   CA|       6000.0| 36 months|  0.0797|    3|      17 May 2017|     false|Individual|       credit_card|Credit card refin...|
|YidceDE3TzQuXHhhY...|           Echo tech|  < 1 year|          RENT|   64999.0|            NULL|       Not Verified|   481xx|        MI|     4442.0|   133252.0|  20325|        Current|     4050.0|   MI|       4050.0| 36 months|  0.1102|   10| 19 November 2019|     false|Individual|       credit_card|Credit card refin...|
|YidLXHhjMFx4ZDVce...|      LOAN PROCESSOR| 10+ years|      MORTGAGE|   75000.0|            NULL|           Verified|   365xx|        AL|    12223.0|   293351.0| 158526|        Current|    15000.0|   AL|      15000.0| 60 months|  0.1953|   20|    16 April 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YicoXHg5MFx4ZjFce...|       HR consultant|   8 years|      MORTGAGE|   75000.0|            NULL|       Not Verified|   840xx|        UT|    16220.0|   243302.0| 186598|        Current|    19825.0|   UT|      19825.0| 60 months|  0.2399|   29|  15 January 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YidDXHhjMDVceDFlX...|Director of Stude...|    1 year|          RENT|   71937.0|            NULL|    Source Verified|   852xx|        AZ|     9603.0|   105631.0| 231429|        Current|    26000.0|   AZ|      26000.0| 36 months|  0.1499|   13|14 September 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGJjXHhiNVx4Y...|    Building Manager| 10+ years|          RENT|   51000.0|            NULL|       Not Verified|   801xx|        CO|     3237.0|    16184.0|   1664|        Current|     1200.0|   CO|       1200.0| 36 months|  0.1942|   16|     18 June 2018|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGFkXHg4ZVx4O...|Human Resource Ma...|   9 years|      MORTGAGE|   58000.0|            NULL|       Not Verified|   146xx|        NY|     7212.0|   122608.0|  70546|        Current|     8400.0|   NY|       8400.0| 36 months|  0.1049|    7| 16 November 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|Yiczflx4YjUqXHhlN...|             Teacher|  < 1 year|      MORTGAGE|  120000.0|            NULL|           Verified|   891xx|        NV|    20113.0|   201125.0| 253983|     Fully Paid|    35000.0|   NV|      35000.0| 36 months|  0.0724|    1|  17 January 2017|     false|Individual|  home_improvement|    Home improvement|
|YiJyJ1x4ODZceDAwX...| Deportation officer| 10+ years|      MORTGAGE|  115000.0|            NULL|           Verified|   919xx|        CA|    66538.0|   598839.0| 243836|     Fully Paid|    30000.0|   CA|      30000.0| 60 months|  0.1008|    6|18 September 2018|     false|Individual|debt_consolidation|  Debt consolidation|
|YicrXHgxOFx4Y2Nce...|Internet Sales Co...|  < 1 year|      MORTGAGE|   37000.0|            NULL|       Not Verified|   805xx|        CO|    22918.0|   206261.0|  86629|     Fully Paid|    10000.0|   CO|      10000.0| 36 months|  0.0818|    7|  15 October 2015|     false|Individual|       credit_card|Credit card refin...|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+---------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
only showing top 20 rows

In [18]:
def detect_missing(df: pyspark.sql.dataframe.DataFrame) -> Dict[str, float]:
    """
    Detect missing values in a PySpark DataFrame and calculate the percentage of missing entries.
    
    Args:
    df (DataFrame): Input PySpark DataFrame.
    
    Returns:
    dict: Dictionary where keys are column names and values are percentages of missing values.
    """
    total_rows = df.count()
    missing_info = {}
    
    for column in df.columns:
        missing_count = df.filter(fn.col(column).isNull()).count()
        missing_percentage = (missing_count / total_rows) * 100
        missing_info[column] = missing_percentage
    
    return missing_info

In [19]:
missing_dict = detect_missing(renamed_fintech_df)

In [20]:
missing_dict

{'customer_id': 0.0,
 'emp_title': 8.612652608213097,
 'emp_length': 6.777654458009619,
 'home_ownership': 0.0,
 'annual_inc': 0.0,
 'annual_inc_joint': 93.11875693673696,
 'verification_status': 0.0,
 'zip_code': 0.0,
 'addr_state': 0.0,
 'avg_cur_bal': 0.0,
 'tot_cur_bal': 0.0,
 'loan_id': 0.0,
 'loan_status': 0.0,
 'loan_amount': 0.0,
 'state': 0.0,
 'funded_amount': 0.0,
 'term': 0.0,
 'int_rate': 4.384017758046615,
 'grade': 0.0,
 'issue_date': 0.0,
 'pymnt_plan': 0.0,
 'type': 0.0,
 'purpose': 0.0,
 'description': 0.8139104698483166}

In [21]:
renamed_fintech_df.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: double (nullable = true)
 |-- annual_inc_joint: double (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- avg_cur_bal: double (nullable = true)
 |-- tot_cur_bal: double (nullable = true)
 |-- loan_id: long (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- loan_amount: double (nullable = true)
 |-- state: string (nullable = true)
 |-- funded_amount: double (nullable = true)
 |-- term: string (nullable = true)
 |-- int_rate: double (nullable = true)
 |-- grade: long (nullable = true)
 |-- issue_date: string (nullable = true)
 |-- pymnt_plan: boolean (nullable = true)
 |-- type: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- description: string (nullable = true)

In [22]:
numerical_types = (pyspark.sql.types.DoubleType, pyspark.sql.types.FloatType, pyspark.sql.types.IntegerType, pyspark.sql.types.LongType)
numerical_columns = [field.name for field in renamed_fintech_df.schema.fields if isinstance(field.dataType, numerical_types)]
numerical_columns

['annual_inc',
 'annual_inc_joint',
 'avg_cur_bal',
 'tot_cur_bal',
 'loan_id',
 'loan_amount',
 'funded_amount',
 'int_rate',
 'grade']

In [23]:
from pyspark.sql import functions as F

def handle_missing_numerical(df: pyspark.sql.dataframe.DataFrame) -> pyspark.sql.dataframe.DataFrame:
    """
    Replace missing values in numerical columns with 0.
    
    Args:
    df (DataFrame): Input PySpark DataFrame.
    
    Returns:
    DataFrame: DataFrame with missing values in numerical columns replaced by 0.
    """
    missing_dict = detect_missing(df)
    numerical_types = (pyspark.sql.types.DoubleType, pyspark.sql.types.FloatType, pyspark.sql.types.IntegerType, pyspark.sql.types.LongType)
    numerical_columns = [field.name for field in df.schema.fields if isinstance(field.dataType, numerical_types)]
    for column in numerical_columns:
        if missing_dict[column] > 0:
            df = df.fillna({column: 0})
    return df

In [24]:
numerically_imputed_df = handle_missing_numerical(renamed_fintech_df)

In [25]:
missing_dict_updated = detect_missing(numerically_imputed_df)
missing_dict_updated

{'customer_id': 0.0,
 'emp_title': 8.612652608213097,
 'emp_length': 6.777654458009619,
 'home_ownership': 0.0,
 'annual_inc': 0.0,
 'annual_inc_joint': 0.0,
 'verification_status': 0.0,
 'zip_code': 0.0,
 'addr_state': 0.0,
 'avg_cur_bal': 0.0,
 'tot_cur_bal': 0.0,
 'loan_id': 0.0,
 'loan_status': 0.0,
 'loan_amount': 0.0,
 'state': 0.0,
 'funded_amount': 0.0,
 'term': 0.0,
 'int_rate': 0.0,
 'grade': 0.0,
 'issue_date': 0.0,
 'pymnt_plan': 0.0,
 'type': 0.0,
 'purpose': 0.0,
 'description': 0.8139104698483166}

In [26]:
def handle_missing_categorical(df: pyspark.sql.dataframe.DataFrame) -> pyspark.sql.dataframe.DataFrame:
    """
    Replace missing values in categorical/string columns with the mode (most frequent value).
    
    Args:
    df (DataFrame): Input PySpark DataFrame.
    
    Returns:
    DataFrame: DataFrame with missing values in categorical columns replaced by mode.
    """
    missing_dict = detect_missing(df)
    categorical_columns = [field.name for field in df.schema.fields if isinstance(field.dataType, pyspark.sql.types.StringType)]
    for column in categorical_columns:
        if missing_dict[column] > 0:
            mode_col = df.filter(fn.col(column).isNotNull()).groupBy(column).count().orderBy(fn.col('count').desc()).limit(1)
            mode_col.show()
            mode_value = mode_col.select(column).collect()[0][0]
            print(f"Mode value for {column}: {mode_value}")
            df = df.fillna(value= mode_value, subset=[column])
            print('-'* 50)
    return df

In [27]:
categorically_imputed_df = handle_missing_categorical(numerically_imputed_df)

+---------+-----+
|emp_title|count|
+---------+-----+
|  Teacher|  468|
+---------+-----+

Mode value for emp_title: Teacher
--------------------------------------------------
+----------+-----+
|emp_length|count|
+----------+-----+
| 10+ years| 8855|
+----------+-----+

Mode value for emp_length: 10+ years
--------------------------------------------------
+------------------+-----+
|       description|count|
+------------------+-----+
|Debt consolidation|14421|
+------------------+-----+

Mode value for description: Debt consolidation
--------------------------------------------------

In [28]:
missing_dict_updated = detect_missing(categorically_imputed_df)
missing_dict_updated

{'customer_id': 0.0,
 'emp_title': 0.0,
 'emp_length': 0.0,
 'home_ownership': 0.0,
 'annual_inc': 0.0,
 'annual_inc_joint': 0.0,
 'verification_status': 0.0,
 'zip_code': 0.0,
 'addr_state': 0.0,
 'avg_cur_bal': 0.0,
 'tot_cur_bal': 0.0,
 'loan_id': 0.0,
 'loan_status': 0.0,
 'loan_amount': 0.0,
 'state': 0.0,
 'funded_amount': 0.0,
 'term': 0.0,
 'int_rate': 0.0,
 'grade': 0.0,
 'issue_date': 0.0,
 'pymnt_plan': 0.0,
 'type': 0.0,
 'purpose': 0.0,
 'description': 0.0}

no missing values are remaining

# Part 3: Encoding

Encode only the following categorical values
- Emp Length: Change to numerical
- Home Ownership: One Hot Encoding
- Verification Status: One Hot Encoding
- State: Label Encoding
- Type: One Hot Encoding
- Purpose: Label Encoding
- For the grade, only descretize it to be letter grade, not need to label encode it further

DO NOT Encode the employment title of description or any other column that is not
mentioned above

In [29]:
GLOBAL_LOOKUP_TABLE = spark.createDataFrame([], schema="original_column STRING, original_value STRING, encoded_column STRING")

## OHE

In [30]:
categorically_imputed_df.select('home_ownership').distinct().collect()[0][0]

'OWN'

In [31]:
categorically_imputed_df.select("home_ownership").distinct().show()

+--------------+
|home_ownership|
+--------------+
|           OWN|
|          RENT|
|      MORTGAGE|
|           ANY|
+--------------+

In [32]:
def one_hot_encode(df: pyspark.sql.dataframe.DataFrame, columns: List[str]) -> pyspark.sql.dataframe.DataFrame:
    """
    Apply one-hot encoding to the specified categorical columns in the DataFrame.
    
    Args:
    df (DataFrame): Input PySpark DataFrame.
    columns (list): List of column names to one-hot encode.
    
    Returns:
    DataFrame: DataFrame with one-hot encoded columns.
    """
    global GLOBAL_LOOKUP_TABLE
    lookup_data = []
    for column in columns:
        unique_values = df.select(column).distinct().collect()
        
        for row in unique_values:
            curr_value = row[0]
            encoded_col_name = f"{column}_{curr_value}"
            df = df.withColumn(encoded_col_name, fn.when(fn.col(column) == curr_value, 1).otherwise(0))
            df = df.withColumn(encoded_col_name, df[encoded_col_name].cast("int"))
            lookup_data.append(Row(original_column=column, original_value=curr_value, encoded_column=encoded_col_name))
            
    lookup_table = spark.createDataFrame(lookup_data)
    print(lookup_data)
    GLOBAL_LOOKUP_TABLE = GLOBAL_LOOKUP_TABLE.union(lookup_table)
    df = df.drop(*columns)
    return df

In [33]:
data = [("Alice", 28), ("Bob", 35), ("Charlie", 40)]

# Create DataFrame
ff = spark.createDataFrame(data, ["Name", "Age"])

ff.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 28|
|    Bob| 35|
|Charlie| 40|
+-------+---+

In [34]:
ohe_columns = ["home_ownership", "verification_status", "type"]
ohe_fintech_df = one_hot_encode(categorically_imputed_df, ohe_columns)

[Row(original_column='home_ownership', original_value='OWN', encoded_column='home_ownership_OWN'), Row(original_column='home_ownership', original_value='RENT', encoded_column='home_ownership_RENT'), Row(original_column='home_ownership', original_value='MORTGAGE', encoded_column='home_ownership_MORTGAGE'), Row(original_column='home_ownership', original_value='ANY', encoded_column='home_ownership_ANY'), Row(original_column='verification_status', original_value='Verified', encoded_column='verification_status_Verified'), Row(original_column='verification_status', original_value='Source Verified', encoded_column='verification_status_Source Verified'), Row(original_column='verification_status', original_value='Not Verified', encoded_column='verification_status_Not Verified'), Row(original_column='type', original_value='Joint App', encoded_column='type_Joint App'), Row(original_column='type', original_value='Individual', encoded_column='type_Individual'), Row(original_column='type', original_value='DIRECT_PAY', encoded_column='type_DIRECT_PAY'), Row(original_column='type', original_value='JOINT', encoded_column='type_JOINT'), Row(original_column='type', original_value='INDIVIDUAL', encoded_column='type_INDIVIDUAL')]

In [35]:
ohe_fintech_df.columns, len(ohe_fintech_df.columns)

(['customer_id',
  'emp_title',
  'emp_length',
  'annual_inc',
  'annual_inc_joint',
  'zip_code',
  'addr_state',
  'avg_cur_bal',
  'tot_cur_bal',
  'loan_id',
  'loan_status',
  'loan_amount',
  'state',
  'funded_amount',
  'term',
  'int_rate',
  'grade',
  'issue_date',
  'pymnt_plan',
  'purpose',
  'description',
  'home_ownership_OWN',
  'home_ownership_RENT',
  'home_ownership_MORTGAGE',
  'home_ownership_ANY',
  'verification_status_Verified',
  'verification_status_Source Verified',
  'verification_status_Not Verified',
  'type_Joint App',
  'type_INDIVIDUAL',
  'type_DIRECT_PAY',
  'type_JOINT'],
 32)

In [36]:
ohe_fintech_df.select(['home_ownership_MORTGAGE']).distinct().show()

+-----------------------+
|home_ownership_MORTGAGE|
+-----------------------+
|                      1|
|                      0|
+-----------------------+

## Label Encode

In [37]:
ohe_fintech_df.select("state").distinct().sort("state").collect()

[Row(state='AK'),
 Row(state='AL'),
 Row(state='AR'),
 Row(state='AZ'),
 Row(state='CA'),
 Row(state='CO'),
 Row(state='CT'),
 Row(state='DC'),
 Row(state='DE'),
 Row(state='FL'),
 Row(state='GA'),
 Row(state='HI'),
 Row(state='ID'),
 Row(state='IL'),
 Row(state='IN'),
 Row(state='KS'),
 Row(state='KY'),
 Row(state='LA'),
 Row(state='MA'),
 Row(state='MD'),
 Row(state='ME'),
 Row(state='MI'),
 Row(state='MN'),
 Row(state='MO'),
 Row(state='MS'),
 Row(state='MT'),
 Row(state='NC'),
 Row(state='ND'),
 Row(state='NE'),
 Row(state='NH'),
 Row(state='NJ'),
 Row(state='NM'),
 Row(state='NV'),
 Row(state='NY'),
 Row(state='OH'),
 Row(state='OK'),
 Row(state='OR'),
 Row(state='PA'),
 Row(state='RI'),
 Row(state='SC'),
 Row(state='SD'),
 Row(state='TN'),
 Row(state='TX'),
 Row(state='UT'),
 Row(state='VA'),
 Row(state='VT'),
 Row(state='WA'),
 Row(state='WI'),
 Row(state='WV'),
 Row(state='WY')]

In [38]:
def label_encode(df: pyspark.sql.dataframe.DataFrame, columns: List[str]) -> pyspark.sql.dataframe.DataFrame:
    """
    Apply label encoding to the specified categorical columns in the DataFrame.
    
    Args:
    df (DataFrame): Input PySpark DataFrame.
    columns (list): List of column names to label encode.
    
    Returns:
    DataFrame: DataFrame with label-encoded columns.
    """
    global GLOBAL_LOOKUP_TABLE
    lookup_data = []
    for column in columns:
        state_values = df.select(column).distinct().sort(column).collect()
        for i, row in enumerate(state_values):
            value = row[0]
            df = df.withColumn(column, fn.when(df[column] == value, i).otherwise(df[column]))
            lookup_data.append(Row(original_column=column, original_value=value, encoded_column=i))
        df = df.withColumn(column, df[column].cast("int"))
    print(lookup_data)
    lookup_table = spark.createDataFrame(lookup_data)
    GLOBAL_LOOKUP_TABLE = GLOBAL_LOOKUP_TABLE.union(lookup_table)
    return df

In [39]:
label_columns = ["state", "purpose"]
label_fintech_df = label_encode(ohe_fintech_df, label_columns)

[Row(original_column='state', original_value='AK', encoded_column=0), Row(original_column='state', original_value='AL', encoded_column=1), Row(original_column='state', original_value='AR', encoded_column=2), Row(original_column='state', original_value='AZ', encoded_column=3), Row(original_column='state', original_value='CA', encoded_column=4), Row(original_column='state', original_value='CO', encoded_column=5), Row(original_column='state', original_value='CT', encoded_column=6), Row(original_column='state', original_value='DC', encoded_column=7), Row(original_column='state', original_value='DE', encoded_column=8), Row(original_column='state', original_value='FL', encoded_column=9), Row(original_column='state', original_value='GA', encoded_column=10), Row(original_column='state', original_value='HI', encoded_column=11), Row(original_column='state', original_value='ID', encoded_column=12), Row(original_column='state', original_value='IL', encoded_column=13), Row(original_column='state', original_value='IN', encoded_column=14), Row(original_column='state', original_value='KS', encoded_column=15), Row(original_column='state', original_value='KY', encoded_column=16), Row(original_column='state', original_value='LA', encoded_column=17), Row(original_column='state', original_value='MA', encoded_column=18), Row(original_column='state', original_value='MD', encoded_column=19), Row(original_column='state', original_value='ME', encoded_column=20), Row(original_column='state', original_value='MI', encoded_column=21), Row(original_column='state', original_value='MN', encoded_column=22), Row(original_column='state', original_value='MO', encoded_column=23), Row(original_column='state', original_value='MS', encoded_column=24), Row(original_column='state', original_value='MT', encoded_column=25), Row(original_column='state', original_value='NC', encoded_column=26), Row(original_column='state', original_value='ND', encoded_column=27), Row(original_column='state', original_value='NE', encoded_column=28), Row(original_column='state', original_value='NH', encoded_column=29), Row(original_column='state', original_value='NJ', encoded_column=30), Row(original_column='state', original_value='NM', encoded_column=31), Row(original_column='state', original_value='NV', encoded_column=32), Row(original_column='state', original_value='NY', encoded_column=33), Row(original_column='state', original_value='OH', encoded_column=34), Row(original_column='state', original_value='OK', encoded_column=35), Row(original_column='state', original_value='OR', encoded_column=36), Row(original_column='state', original_value='PA', encoded_column=37), Row(original_column='state', original_value='RI', encoded_column=38), Row(original_column='state', original_value='SC', encoded_column=39), Row(original_column='state', original_value='SD', encoded_column=40), Row(original_column='state', original_value='TN', encoded_column=41), Row(original_column='state', original_value='TX', encoded_column=42), Row(original_column='state', original_value='UT', encoded_column=43), Row(original_column='state', original_value='VA', encoded_column=44), Row(original_column='state', original_value='VT', encoded_column=45), Row(original_column='state', original_value='WA', encoded_column=46), Row(original_column='state', original_value='WI', encoded_column=47), Row(original_column='state', original_value='WV', encoded_column=48), Row(original_column='state', original_value='WY', encoded_column=49), Row(original_column='purpose', original_value='car', encoded_column=0), Row(original_column='purpose', original_value='credit_card', encoded_column=1), Row(original_column='purpose', original_value='debt_consolidation', encoded_column=2), Row(original_column='purpose', original_value='home_improvement', encoded_column=3), Row(original_column='purpose', original_value='house', encoded_column=4), Row(original_column='purpose', original_value='major_purchase', encoded_column=5), Row(original_column='purpose', original_value='medical', encoded_column=6), Row(original_column='purpose', original_value='moving', encoded_column=7), Row(original_column='purpose', original_value='other', encoded_column=8), Row(original_column='purpose', original_value='renewable_energy', encoded_column=9), Row(original_column='purpose', original_value='small_business', encoded_column=10), Row(original_column='purpose', original_value='vacation', encoded_column=11), Row(original_column='purpose', original_value='wedding', encoded_column=12)]

In [40]:
len(label_fintech_df.columns)

32

In [41]:
label_fintech_df.select("state").distinct().sort('state').show(53)

+-----+
|state|
+-----+
|    0|
|    1|
|    2|
|    3|
|    4|
|    5|
|    6|
|    7|
|    8|
|    9|
|   10|
|   11|
|   12|
|   13|
|   14|
|   15|
|   16|
|   17|
|   18|
|   19|
|   20|
|   21|
|   22|
|   23|
|   24|
|   25|
|   26|
|   27|
|   28|
|   29|
|   30|
|   31|
|   32|
|   33|
|   34|
|   35|
|   36|
|   37|
|   38|
|   39|
|   40|
|   41|
|   42|
|   43|
|   44|
|   45|
|   46|
|   47|
|   48|
|   49|
+-----+

## Letter Grade

- A (1-5)
- B (6-10)
- C (11-15)
- D (16-20)
- E (21-25)
- F (26-30)
- G (31-35)

In [42]:

def create_letter_grade(df: pyspark.sql.dataframe.DataFrame, grade_column: str="grade") -> pyspark.sql.dataframe.DataFrame:
    """
    Add a new column `letter_grade` based on the numerical range of `grade`.

    Args:
    df (DataFrame): Input PySpark DataFrame.
    grade_column (str): Name of the column containing numerical grades.

    Returns:
    DataFrame: DataFrame with an additional `letter_grade` column.
    """
    global GLOBAL_LOOKUP_TABLE
    letters = ["A", "B", "C", "D", "E", "F", "G"]
    lookup_data = []
    for i, letter in enumerate(letters):
        for j in range((i * 5)+1, ((i + 1) * 5)+1):
            lookup_data.append(Row(original_column=grade_column, original_value=str(j), encoded_value=letter))
    lookup_table = spark.createDataFrame(lookup_data)
    print(lookup_data)
    GLOBAL_LOOKUP_TABLE = GLOBAL_LOOKUP_TABLE.union(lookup_table)

    
    grade_mapping = [
        (fn.col(grade_column).between(1, 5), "A"),
        (fn.col(grade_column).between(6, 10), "B"),
        (fn.col(grade_column).between(11, 15), "C"),
        (fn.col(grade_column).between(16, 20), "D"),
        (fn.col(grade_column).between(21, 25), "E"),
        (fn.col(grade_column).between(26, 30), "F"),
        (fn.col(grade_column).between(31, 35), "G"),
    ]
    
    letter_grade_column = fn.when(*grade_mapping[0])
    for condition, letter in grade_mapping[1:]:
        letter_grade_column = letter_grade_column.when(condition, letter)
    letter_grade_column = letter_grade_column.otherwise("Unknown")

    df = df.withColumn("letter_grade", letter_grade_column)
    return df

In [43]:
encoded_fintech_df = create_letter_grade(label_fintech_df, "grade")

[Row(original_column='grade', original_value='1', encoded_value='A'), Row(original_column='grade', original_value='2', encoded_value='A'), Row(original_column='grade', original_value='3', encoded_value='A'), Row(original_column='grade', original_value='4', encoded_value='A'), Row(original_column='grade', original_value='5', encoded_value='A'), Row(original_column='grade', original_value='6', encoded_value='B'), Row(original_column='grade', original_value='7', encoded_value='B'), Row(original_column='grade', original_value='8', encoded_value='B'), Row(original_column='grade', original_value='9', encoded_value='B'), Row(original_column='grade', original_value='10', encoded_value='B'), Row(original_column='grade', original_value='11', encoded_value='C'), Row(original_column='grade', original_value='12', encoded_value='C'), Row(original_column='grade', original_value='13', encoded_value='C'), Row(original_column='grade', original_value='14', encoded_value='C'), Row(original_column='grade', original_value='15', encoded_value='C'), Row(original_column='grade', original_value='16', encoded_value='D'), Row(original_column='grade', original_value='17', encoded_value='D'), Row(original_column='grade', original_value='18', encoded_value='D'), Row(original_column='grade', original_value='19', encoded_value='D'), Row(original_column='grade', original_value='20', encoded_value='D'), Row(original_column='grade', original_value='21', encoded_value='E'), Row(original_column='grade', original_value='22', encoded_value='E'), Row(original_column='grade', original_value='23', encoded_value='E'), Row(original_column='grade', original_value='24', encoded_value='E'), Row(original_column='grade', original_value='25', encoded_value='E'), Row(original_column='grade', original_value='26', encoded_value='F'), Row(original_column='grade', original_value='27', encoded_value='F'), Row(original_column='grade', original_value='28', encoded_value='F'), Row(original_column='grade', original_value='29', encoded_value='F'), Row(original_column='grade', original_value='30', encoded_value='F'), Row(original_column='grade', original_value='31', encoded_value='G'), Row(original_column='grade', original_value='32', encoded_value='G'), Row(original_column='grade', original_value='33', encoded_value='G'), Row(original_column='grade', original_value='34', encoded_value='G'), Row(original_column='grade', original_value='35', encoded_value='G')]

In [44]:
encoded_fintech_df.select("grade", "letter_grade").distinct().sort('grade').show(40)

+-----+------------+
|grade|letter_grade|
+-----+------------+
|    1|           A|
|    2|           A|
|    3|           A|
|    4|           A|
|    5|           A|
|    6|           B|
|    7|           B|
|    8|           B|
|    9|           B|
|   10|           B|
|   11|           C|
|   12|           C|
|   13|           C|
|   14|           C|
|   15|           C|
|   16|           D|
|   17|           D|
|   18|           D|
|   19|           D|
|   20|           D|
|   21|           E|
|   22|           E|
|   23|           E|
|   24|           E|
|   25|           E|
|   26|           F|
|   27|           F|
|   28|           F|
|   29|           F|
|   30|           F|
|   31|           G|
|   32|           G|
|   33|           G|
|   34|           G|
|   35|           G|
+-----+------------+

## Emp_length

In [45]:
encoded_fintech_df.select("emp_length").distinct().show()

+----------+
|emp_length|
+----------+
|   5 years|
|   9 years|
|    1 year|
|   2 years|
|   7 years|
|   8 years|
|   4 years|
|   6 years|
|   3 years|
| 10+ years|
|  < 1 year|
+----------+

In [46]:
from pyspark.sql import functions as fn

def convert_emp_length_to_numeric(df: pyspark.sql.dataframe.DataFrame, column: str = "emp_length") -> pyspark.sql.dataframe.DataFrame:
    """
    Converts the 'emp_length' column to numeric values using string manipulation.
    
    Args:
    df (DataFrame): Input PySpark DataFrame.
    column (str): Column name containing employment length data.
    
    Returns:
    DataFrame: DataFrame with 'emp_length' column converted to numeric values.
    """
    df = df.withColumn(column, fn.regexp_replace(fn.col(column), "years|year", ""))
    df = df.withColumn(column, fn.when(fn.col(column).like("%<%"), "0.5")
                                 .when(fn.col(column).like("%+%"), "11")
                                 .otherwise(fn.col(column)))
    df = df.withColumn(column, fn.col(column).cast("float"))
    
    return df

In [47]:
encoded_fintech_df_2 = convert_emp_length_to_numeric(encoded_fintech_df, "emp_length")

In [48]:
encoded_fintech_df_2.select("emp_length").distinct().sort("emp_length").show()

+----------+
|emp_length|
+----------+
|       0.5|
|       1.0|
|       2.0|
|       3.0|
|       4.0|
|       5.0|
|       6.0|
|       7.0|
|       8.0|
|       9.0|
|      11.0|
+----------+

In [49]:
encoded_fintech_df_2.show()

+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+---------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+---------------+---------------+----------+------------+
|         customer_id|           emp_title|emp_length|annual_inc|annual_inc_joint|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|    loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|purpose|         description|home_ownership_OWN|home_ownership_RENT|home_ownership_MORTGAGE|home_ownership_ANY|verification_status_Verified|verification_status_Source Verified|verification_status_Not Verified|type_Joint App|type_INDIVIDUAL|type_DIRECT_PAY|type_JOINT|letter_grade|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+---------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+---------------+---------------+----------+------------+
|YicgXHgxOVx4ODU+X...| bartender/ waitress|       3.0|   35000.0|             0.0|   191xx|        PA|     2368.0|    16578.0| 139672|     Fully Paid|    14000.0|   37|      14000.0| 36 months|  0.1999|   19|    17 March 2017|     false|      5|      Major purchase|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|             0|              0|              0|         0|           D|
|YidJXHhiOFx4OWRce...|      Line- Operator|       0.5|   65000.0|             0.0|   458xx|        OH|     1263.0|     3789.0| 207602|In Grace Period|    21275.0|   34|      21275.0| 60 months|   0.124|    6|     19 July 2019|     false|      5|      Major purchase|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|             0|              0|              0|         0|           B|
|YidceGQwXHhmNl1ce...|             Teacher|       0.5|  100000.0|             0.0|   152xx|        PA|    26234.0|   341037.0| 230358|     Fully Paid|    25350.0|   37|      25350.0| 36 months|  0.1727|   19|    16 April 2016|     false|      2|  Debt consolidation|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|             0|              1|              0|         0|           D|
|Yid6XHhkMlx4YmR8e...|   Corporate Trainer|       5.0|   41000.0|             0.0|   322xx|        FL|     3152.0|    18912.0|  98856|        Current|    10000.0|    9|      10000.0| 36 months|     0.2|   16| 18 February 2018|     false|      3|    Home improvement|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|             0|              0|              0|         0|           D|
|Yid8XHhkZlpvdFJce...|Certified Applicator|       7.0|   30000.0|             0.0|   788xx|        TX|     2451.0|    19607.0|  33846|     Fully Paid|     5000.0|   42|       5000.0| 36 months|  0.1899|   17| 17 February 2017|     false|      2|  Debt consolidation|                 0|                  1|                      0|                 0|                           1|                                  0|                               0|             0|              0|              0|         0|           D|
|YidceDk5XHhmY1x4M...|Associate Researcher|       4.0|   67000.0|             0.0|   598xx|        MT|     6283.0|    31415.0|  21295|     Fully Paid|     4250.0|   25|       4250.0| 36 months|  0.1561|   20|    15 April 2015|     false|      2|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  0|                               1|             0|              0|              0|         0|           D|
|YidceDBiQlx4OWVce...|               sales|      11.0|   60000.0|             0.0|   330xx|        FL|     1487.0|    19336.0| 167841|    Charged Off|    16000.0|    9|      16000.0| 60 months|  0.1431|   14|  15 January 2015|     false|      2|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|             0|              0|              0|         0|           C|
|Yid1Nlx4OTRceGQ1X...|Utility Plant  En...|      11.0|   82000.0|             0.0|   088xx|        NJ|    30457.0|   335023.0| 235327|     Fully Paid|    28000.0|   30|      28000.0| 36 months|  0.0789|    2|   15 August 2015|     false|      2|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|             0|              0|              0|         0|           A|
|Yic5XHgxM1x4ZGRce...|      Office Manager|       0.5|  125000.0|             0.0|   346xx|        FL|     8382.0|   125734.0| 193947|        Current|    20000.0|    9|      20000.0| 36 months|  0.1349|   15|16 September 2016|     false|      3|    Home improvement|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|           C|
|YidceGNiPFZ3XHhkN...|       Sales Manager|       2.0|   40000.0|             0.0|   606xx|        IL|     2656.0|    10624.0|  95200|     Fully Paid|    10000.0|   13|      10000.0| 36 months|  0.1398|   12| 13 December 2013|     false|      2|Good Bet Debt Con...|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|             0|              1|              0|         0|           C|
|YidceGZkOFx4ZTZce...|Logistics coordin...|       3.0|   47800.0|             0.0|   902xx|        CA|     2855.0|    14276.0|  40657|        Current|     6000.0|    4|       6000.0| 36 months|  0.0797|    3|      17 May 2017|     false|      1|Credit card refin...|                 0|                  1|                      0|                 0|                           1|                                  0|                               0|             0|              0|              0|         0|           A|
|YidceDE3TzQuXHhhY...|           Echo tech|       0.5|   64999.0|             0.0|   481xx|        MI|     4442.0|   133252.0|  20325|        Current|     4050.0|   21|       4050.0| 36 months|  0.1102|   10| 19 November 2019|     false|      1|Credit card refin...|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|             0|              0|              0|         0|           B|
|YidLXHhjMFx4ZDVce...|      LOAN PROCESSOR|      11.0|   75000.0|             0.0|   365xx|        AL|    12223.0|   293351.0| 158526|        Current|    15000.0|    1|      15000.0| 60 months|  0.1953|   20|    16 April 2016|     false|      2|  Debt consolidation|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|             0|              1|              0|         0|           D|
|YicoXHg5MFx4ZjFce...|       HR consultant|       8.0|   75000.0|             0.0|   840xx|        UT|    16220.0|   243302.0| 186598|        Current|    19825.0|   43|      19825.0| 60 months|  0.2399|   29|  15 January 2015|     false|      2|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|             0|              0|              0|         0|           F|
|YidDXHhjMDVceDFlX...|Director of Stude...|       1.0|   71937.0|             0.0|   852xx|        AZ|     9603.0|   105631.0| 231429|        Current|    26000.0|    3|      26000.0| 36 months|  0.1499|   13|14 September 2014|     false|      2|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|           C|
|YidceGJjXHhiNVx4Y...|    Building Manager|      11.0|   51000.0|             0.0|   801xx|        CO|     3237.0|    16184.0|   1664|        Current|     1200.0|    5|       1200.0| 36 months|  0.1942|   16|     18 June 2018|     false|      2|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|             0|              0|              0|         0|           D|
|YidceGFkXHg4ZVx4O...|Human Resource Ma...|       9.0|   58000.0|             0.0|   146xx|        NY|     7212.0|   122608.0|  70546|        Current|     8400.0|   33|       8400.0| 36 months|  0.1049|    7| 16 November 2016|     false|      2|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|             0|              1|              0|         0|           B|
|Yiczflx4YjUqXHhlN...|             Teacher|       0.5|  120000.0|             0.0|   891xx|        NV|    20113.0|   201125.0| 253983|     Fully Paid|    35000.0|   32|      35000.0| 36 months|  0.0724|    1|  17 January 2017|     false|      3|    Home improvement|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|             0|              0|              0|         0|           A|
|YiJyJ1x4ODZceDAwX...| Deportation officer|      11.0|  115000.0|             0.0|   919xx|        CA|    66538.0|   598839.0| 243836|     Fully Paid|    30000.0|    4|      30000.0| 60 months|  0.1008|    6|18 September 2018|     false|      2|  Debt consolidation|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|             0|              0|              0|         0|           B|
|YicrXHgxOFx4Y2Nce...|Internet Sales Co...|       0.5|   37000.0|             0.0|   805xx|        CO|    22918.0|   206261.0|  86629|     Fully Paid|    10000.0|    5|      10000.0| 36 months|  0.0818|    7|  15 October 2015|     false|      1|Credit card refin...|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|             0|              0|              0|         0|           B|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+---------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+---------------+---------------+----------+------------+
only showing top 20 rows

In [50]:
GLOBAL_LOOKUP_TABLE.show(50)

+-------------------+---------------+--------------------+
|    original_column| original_value|      encoded_column|
+-------------------+---------------+--------------------+
|     home_ownership|            OWN|  home_ownership_OWN|
|     home_ownership|           RENT| home_ownership_RENT|
|     home_ownership|       MORTGAGE|home_ownership_MO...|
|     home_ownership|            ANY|  home_ownership_ANY|
|verification_status|       Verified|verification_stat...|
|verification_status|Source Verified|verification_stat...|
|verification_status|   Not Verified|verification_stat...|
|               type|      Joint App|      type_Joint App|
|               type|     Individual|     type_Individual|
|               type|     DIRECT_PAY|     type_DIRECT_PAY|
|               type|          JOINT|          type_JOINT|
|               type|     INDIVIDUAL|     type_INDIVIDUAL|
|              state|             AK|                   0|
|              state|             AL|                   1|
|              state|             AR|                   2|
|              state|             AZ|                   3|
|              state|             CA|                   4|
|              state|             CO|                   5|
|              state|             CT|                   6|
|              state|             DC|                   7|
|              state|             DE|                   8|
|              state|             FL|                   9|
|              state|             GA|                  10|
|              state|             HI|                  11|
|              state|             ID|                  12|
|              state|             IL|                  13|
|              state|             IN|                  14|
|              state|             KS|                  15|
|              state|             KY|                  16|
|              state|             LA|                  17|
|              state|             MA|                  18|
|              state|             MD|                  19|
|              state|             ME|                  20|
|              state|             MI|                  21|
|              state|             MN|                  22|
|              state|             MO|                  23|
|              state|             MS|                  24|
|              state|             MT|                  25|
|              state|             NC|                  26|
|              state|             ND|                  27|
|              state|             NE|                  28|
|              state|             NH|                  29|
|              state|             NJ|                  30|
|              state|             NM|                  31|
|              state|             NV|                  32|
|              state|             NY|                  33|
|              state|             OH|                  34|
|              state|             OK|                  35|
|              state|             OR|                  36|
|              state|             PA|                  37|
+-------------------+---------------+--------------------+
only showing top 50 rows

# Part 4: Feature Engineering

Write a function that adds the 3 following features. Try as much as you can to use
built in fucntions in PySpark (from the functions library) check lab 8, Avoid writing
UDFs from scratch.
- Previous loan issue date from the same grade
- Previoius Loan amount from the same grade
- Previous loan date from the same state and grade combined
- Previous loan amount from the same state and grade combined

## Previous loan issue date from the same grade

In [51]:
def add_previous_loan_issue_date_form_same_grade(df: pyspark.sql.dataframe.DataFrame) -> pyspark.sql.dataframe.DataFrame:
    """
    Add a new column 'previous_loan_issue_date_same_grade' that contains the issue date of the previous loan with the same grade.
    
    Args:
    df (DataFrame): Input PySpark DataFrame.
    
    Returns:
    DataFrame: DataFrame with the new column 'previous_loan_issue_date_same_grade'.
    """
    df = df.withColumn("issue_date_preprocessed", fn.to_date(fn.col("issue_date"), "dd MMMM yyyy"))
    window_spec = Window.partitionBy("grade").orderBy("issue_date_preprocessed")
    prev_issue_date = fn.lag("issue_date", 1).over(window_spec)
    df = df.withColumn("previous_loan_issue_date_same_grade", prev_issue_date)
    df = df.drop("issue_date_preprocessed")
    return df

In [52]:
lagged_fintech_df = add_previous_loan_issue_date_form_same_grade(encoded_fintech_df_2)

In [53]:
lagged_fintech_df.select("issue_date", "grade", "previous_loan_issue_date_same_grade").show()

+-----------------+-----+-----------------------------------+
|       issue_date|grade|previous_loan_issue_date_same_grade|
+-----------------+-----+-----------------------------------+
|12 September 2012|    1|                               NULL|
|12 September 2012|    1|                  12 September 2012|
|12 September 2012|    1|                  12 September 2012|
|  12 October 2012|    1|                  12 September 2012|
| 12 November 2012|    1|                    12 October 2012|
| 12 December 2012|    1|                   12 November 2012|
| 12 December 2012|    1|                   12 December 2012|
|  13 January 2013|    1|                   12 December 2012|
|  13 January 2013|    1|                    13 January 2013|
| 13 February 2013|    1|                    13 January 2013|
| 13 February 2013|    1|                   13 February 2013|
|    13 March 2013|    1|                   13 February 2013|
|    13 March 2013|    1|                      13 March 2013|
|    13 March 2013|    1|                      13 March 2013|
|    13 April 2013|    1|                      13 March 2013|
|    13 April 2013|    1|                      13 April 2013|
|    13 April 2013|    1|                      13 April 2013|
|      13 May 2013|    1|                      13 April 2013|
|      13 May 2013|    1|                        13 May 2013|
|     13 June 2013|    1|                        13 May 2013|
+-----------------+-----+-----------------------------------+
only showing top 20 rows

## Previoius Loan amount from the same grade

In [54]:
def add_prev_loan_amount_from_same_grade(df: pyspark.sql.dataframe.DataFrame) -> pyspark.sql.dataframe.DataFrame:
    """
    Add a new column 'previous_loan_amount_same_grade' that contains the loan amount of the previous loan with the same grade.
    
    Args:
    df (DataFrame): Input PySpark DataFrame.
    
    Returns:
    DataFrame: DataFrame with the new column 'previous_loan_amount_same_grade'.
    """
    df = df.withColumn("issue_date_preprocessed", fn.to_date(fn.col("issue_date"), "dd MMMM yyyy"))
    window_spec = Window.partitionBy("grade").orderBy("issue_date_preprocessed")
    prev_loan_amount = fn.lag("loan_amount", 1).over(window_spec)
    df = df.withColumn("previous_loan_amount_same_grade", prev_loan_amount)
    df = df.drop("issue_date_preprocessed")
    return df

In [55]:
lagged_fintech_df_2 = add_prev_loan_amount_from_same_grade(lagged_fintech_df)

In [56]:
lagged_fintech_df_2.select("issue_date","loan_amount", "grade", "previous_loan_amount_same_grade").show()

+-----------------+-----------+-----+-------------------------------+
|       issue_date|loan_amount|grade|previous_loan_amount_same_grade|
+-----------------+-----------+-----+-------------------------------+
|12 September 2012|    12000.0|    1|                           NULL|
|12 September 2012|    11200.0|    1|                        12000.0|
|12 September 2012|     6500.0|    1|                        11200.0|
|  12 October 2012|     8000.0|    1|                         6500.0|
| 12 November 2012|    10000.0|    1|                         8000.0|
| 12 December 2012|    24000.0|    1|                        10000.0|
| 12 December 2012|    24000.0|    1|                        24000.0|
|  13 January 2013|    16850.0|    1|                        24000.0|
|  13 January 2013|    12000.0|    1|                        16850.0|
| 13 February 2013|    10000.0|    1|                        12000.0|
| 13 February 2013|    28000.0|    1|                        10000.0|
|    13 March 2013|    21000.0|    1|                        28000.0|
|    13 March 2013|    16000.0|    1|                        21000.0|
|    13 March 2013|    12500.0|    1|                        16000.0|
|    13 April 2013|    17400.0|    1|                        12500.0|
|    13 April 2013|    24000.0|    1|                        17400.0|
|    13 April 2013|    14000.0|    1|                        24000.0|
|      13 May 2013|    14400.0|    1|                        14000.0|
|      13 May 2013|    24000.0|    1|                        14400.0|
|     13 June 2013|     6000.0|    1|                        24000.0|
+-----------------+-----------+-----+-------------------------------+
only showing top 20 rows

## Previous loan date from the same state and grade combined

In [57]:
def add_prev_loan_date_from_same_state_and_grade(df: pyspark.sql.dataframe.DataFrame) -> pyspark.sql.dataframe.DataFrame:
    """
    Add a new column 'previous_loan_date_same_state_and_grade' that contains the issue date of the previous loan with the same state and grade.
    
    Args:
    df (DataFrame): Input PySpark DataFrame.
    
    Returns:
    DataFrame: DataFrame with the new column 'previous_loan_amount_same_grade'.
    """
    df = df.withColumn("issue_date_preprocessed", fn.to_date(fn.col("issue_date"), "dd MMMM yyyy"))
    window_spec = Window.partitionBy("state","grade").orderBy("issue_date_preprocessed")
    prev_loan_amount = fn.lag("issue_date", 1).over(window_spec)
    df = df.withColumn("previous_loan_date_same_state_and_grade", prev_loan_amount)
    df = df.drop("issue_date_preprocessed")
    return df

In [58]:
lagged_fintech_df_3 = add_prev_loan_date_from_same_state_and_grade(lagged_fintech_df_2)

In [59]:
lagged_fintech_df_3.select("issue_date","state","grade", "previous_loan_date_same_state_and_grade").show()

+-----------------+-----+-----+---------------------------------------+
|       issue_date|state|grade|previous_loan_date_same_state_and_grade|
+-----------------+-----+-----+---------------------------------------+
|  14 October 2014|    0|    1|                                   NULL|
|  19 January 2019|    0|    1|                        14 October 2014|
| 19 November 2019|    0|    1|                        19 January 2019|
|  14 October 2014|    0|    2|                                   NULL|
|     17 June 2017|    0|    2|                        14 October 2014|
| 17 November 2017|    0|    2|                           17 June 2017|
|    18 March 2018|    0|    2|                       17 November 2017|
|15 September 2015|    0|    3|                                   NULL|
|  18 October 2018|    0|    3|                      15 September 2015|
|    19 April 2019|    0|    3|                        18 October 2018|
|     16 June 2016|    0|    4|                                   NULL|
|      17 May 2017|    0|    4|                           16 June 2016|
| 14 November 2014|    0|    5|                                   NULL|
|  15 January 2015|    0|    5|                       14 November 2014|
|  18 October 2018|    0|    5|                        15 January 2015|
|  18 October 2018|    0|    5|                        18 October 2018|
|     17 July 2017|    0|    6|                                   NULL|
|     16 July 2016|    0|    7|                                   NULL|
|   16 August 2016|    0|    7|                           16 July 2016|
| 19 February 2019|    0|    7|                         16 August 2016|
+-----------------+-----+-----+---------------------------------------+
only showing top 20 rows

## Previous loan amount from the same state and grade combined

In [60]:
def add_prev_loan_amount_from_same_state_and_grade(df: pyspark.sql.dataframe.DataFrame) -> pyspark.sql.dataframe.DataFrame:
    """
    Add a new column 'previous_loan_amount_same_state_and_grade' that contains the loan amount of the previous loan with the same state and grade.
    
    Args:
    df (DataFrame): Input PySpark DataFrame.
    
    Returns:
    DataFrame: DataFrame with the new column 'previous_loan_amount_same_state_and_grade'.
    """
    df = df.withColumn("issue_date_preprocessed", fn.to_date(fn.col("issue_date"), "dd MMMM yyyy"))
    window_spec = Window.partitionBy("state","grade").orderBy("issue_date_preprocessed")
    prev_loan_amount = fn.lag("loan_amount", 1).over(window_spec)
    df = df.withColumn("previous_loan_amount_same_state_and_grade", prev_loan_amount)
    df = df.drop("issue_date_preprocessed")
    return df

In [61]:
lagged_fintech_df_4 = add_prev_loan_amount_from_same_state_and_grade(lagged_fintech_df_3)

In [62]:
lagged_fintech_df_4.select("issue_date","state","loan_amount", "grade", "previous_loan_amount_same_state_and_grade").show()

+-----------------+-----+-----------+-----+-----------------------------------------+
|       issue_date|state|loan_amount|grade|previous_loan_amount_same_state_and_grade|
+-----------------+-----+-----------+-----+-----------------------------------------+
|  14 October 2014|    0|    10000.0|    1|                                     NULL|
|  19 January 2019|    0|    10000.0|    1|                                  10000.0|
| 19 November 2019|    0|     6000.0|    1|                                  10000.0|
|  14 October 2014|    0|    24000.0|    2|                                     NULL|
|     17 June 2017|    0|    30000.0|    2|                                  24000.0|
| 17 November 2017|    0|    21375.0|    2|                                  30000.0|
|    18 March 2018|    0|    35000.0|    2|                                  21375.0|
|15 September 2015|    0|    15000.0|    3|                                     NULL|
|  18 October 2018|    0|    25000.0|    3|                                  15000.0|
|    19 April 2019|    0|    40000.0|    3|                                  25000.0|
|     16 June 2016|    0|    15000.0|    4|                                     NULL|
|      17 May 2017|    0|    16000.0|    4|                                  15000.0|
| 14 November 2014|    0|    12000.0|    5|                                     NULL|
|  15 January 2015|    0|    25000.0|    5|                                  12000.0|
|  18 October 2018|    0|    32000.0|    5|                                  25000.0|
|  18 October 2018|    0|    33600.0|    5|                                  32000.0|
|     17 July 2017|    0|    11000.0|    6|                                     NULL|
|     16 July 2016|    0|    12000.0|    7|                                     NULL|
|   16 August 2016|    0|    12000.0|    7|                                  12000.0|
| 19 February 2019|    0|    10000.0|    7|                                  12000.0|
+-----------------+-----+-----------+-----+-----------------------------------------+
only showing top 20 rows

# Part 6: Lookup Table & Saving the dataset

## load (save) the cleaned PySpark df and the lookup table to parquet files

In [63]:
def save_df_as_parquet(df: pyspark.sql.dataframe.DataFrame, path: str) -> None:
    """
    Save a PySpark DataFrame to disk in Parquet format.
    
    Args:
    df (DataFrame): Input PySpark DataFrame.
    path (str): Output path for the Parquet file.
    
    Returns:
    None
    """
    df.write.mode("overwrite").parquet(path)
    print(f"DataFrame saved to {path}")

In [67]:
save_df_as_parquet(lagged_fintech_df_4, "./work/fintech_spark_52_1008_clean.parquet")
save_df_as_parquet(GLOBAL_LOOKUP_TABLE, "./work/lookup_spark_52_1008.parquet")

DataFrame saved to ./work/fintech_spark_52_1008_clean.parquet
DataFrame saved to ./work/lookup_spark_52_1008.parquet

In [64]:
def load_df_from_parquet(path: str) -> pyspark.sql.dataframe.DataFrame:
    """
    Load a PySpark DataFrame from disk in Parquet format.
    
    Args:
    path (str): Path to the Parquet file.
    
    Returns:
    DataFrame: Loaded PySpark DataFrame.
    """
    return spark.read.parquet(path)

In [68]:
loaded_fintech_df = load_df_from_parquet("./work/fintech_spark_52_1008_clean.parquet")
loaded_lookup_table = load_df_from_parquet("./work/lookup_spark_52_1008.parquet")

In [71]:
loaded_fintech_df.show(5)

+--------------------+-------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+---------------+---------------+----------+------------+-----------------------------------+-------------------------------+---------------------------------------+-----------------------------------------+
|         customer_id|          emp_title|emp_length|annual_inc|annual_inc_joint|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|      issue_date|pymnt_plan|purpose|         description|home_ownership_OWN|home_ownership_RENT|home_ownership_MORTGAGE|home_ownership_ANY|verification_status_Verified|verification_status_Source Verified|verification_status_Not Verified|type_Joint App|type_INDIVIDUAL|type_DIRECT_PAY|type_JOINT|letter_grade|previous_loan_issue_date_same_grade|previous_loan_amount_same_grade|previous_loan_date_same_state_and_grade|previous_loan_amount_same_state_and_grade|
+--------------------+-------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+---------------+---------------+----------+------------+-----------------------------------+-------------------------------+---------------------------------------+-----------------------------------------+
|YiJOXHhlYlx4ZjFce...|             Safety|       6.0|  100000.0|             0.0|   996xx|        AK|    26004.0|   260041.0| 147101|    Current|    15000.0|    0|      15000.0| 36 months|  0.0739|    4|    16 June 2016|     false|      3|    Home improvement|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|             0|              1|              0|         0|           A|                       16 June 2016|                        29400.0|                                   NULL|                                     NULL|
|YidceGNhWFhceGU1X...|         IT Analyst|       2.0|   83000.0|             0.0|   995xx|        AK|    73708.0|   294830.0| 163274|    Current|    16000.0|    0|      16000.0| 36 months|  0.0797|    4|     17 May 2017|     false|      5|      Major purchase|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|             0|              0|              0|         0|           A|                        17 May 2017|                         9000.0|                           16 June 2016|                                  15000.0|
|YidceDA2XHg4Zlx4Y...|                 RN|      11.0|  115000.0|             0.0|   995xx|        AK|    12795.0|   243107.0| 193189| Fully Paid|    20000.0|    0|      20000.0| 36 months|  0.1229|   13| 15 October 2015|     false|      2|  Debt consolidation|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|             0|              0|              0|         0|           C|                    15 October 2015|                         5000.0|                                   NULL|                                     NULL|
|YidceGU5NFx4MTFce...|            Teacher|       4.0|   24262.0|             0.0|   996xx|        AK|     1823.0|     7291.0| 111224|    Current|    11000.0|    0|      11000.0| 60 months|  0.1612|   13|19 December 2019|     false|      2|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|             0|              0|              0|         0|           C|                   19 December 2019|                        11000.0|                        15 October 2015|                                  20000.0|
|YidceDlhXHg4MVx4Y...|Enforcement Officer|      11.0|  105000.0|             0.0|   998xx|        AK|    39327.0|   235959.0| 159819|    Current|    15350.0|    0|      15350.0| 60 months|  0.1624|   14|13 December 2013|     false|      2| debt consolidati...|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|           C|                   13 December 2013|                        35000.0|                                   NULL|                                     NULL|
+--------------------+-------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+---------------+---------------+----------+------------+-----------------------------------+-------------------------------+---------------------------------------+-----------------------------------------+
only showing top 5 rows

In [73]:
loaded_lookup_table.show(5)

+-------------------+---------------+--------------------+
|    original_column| original_value|      encoded_column|
+-------------------+---------------+--------------------+
|verification_status|Source Verified|verification_stat...|
|verification_status|   Not Verified|verification_stat...|
|verification_status|       Verified|verification_stat...|
|     home_ownership|       MORTGAGE|home_ownership_MO...|
|     home_ownership|           RENT| home_ownership_RENT|
+-------------------+---------------+--------------------+
only showing top 5 rows

# BONUS: Loading to Postgres

- Load the cleaned parquet file and lookup table into a Postgres database.
- Take Screenshots showing the newly added features in the feature engineering section
- Take a screenshot from the lookup table

In [65]:
def save_to_db(df: pyspark.sql.dataframe.DataFrame, table_name: str) -> None:
    """
    Save a PySpark DataFrame to a database table.
    
    Args:
    df (DataFrame): Input PySpark DataFrame.
    table_name (str): Name of the database table.
    
    Returns:
    None
    """
    postgres_url = "jdbc:postgresql://pgdatabase:5432/testdb"
    postgres_properties = {
        "user": "root",
        "password": "root",
        "driver": "org.postgresql.Driver"
    }

    df.write.jdbc(
        url=postgres_url,
        table=table_name,
        mode="overwrite",  # Options: 'overwrite', 'append', 'ignore', 'error'
        properties=postgres_properties
    )

In [66]:
# save_to_db(lagged_fintech_df_4, "fintech_data")